<!-- _includes/projects-section.html -->
<div id="projects-section">
    <div class="project-description">
      <h2>콘서트 예약 시스템</h2>
      <p>여기에 프로젝트 설명을 입력하세요.</p>
    </div>
    <div class="project-details">
      <p>대용량 트래픽을 처리하는 콘서트 티켓 예약 API를 개발했습니다.</p>
      <ul>
          <li>테스트 기반 코드 작성으로 지속 가능한 코드 유지</li>
          <li>Redis의 Sorted Set과 JWT Token을 활용한 대기열 구현</li>
          <li>Redisson 분산락을 적용하여 데이터 정합성 보장</li>
      </ul>
    </div>
</div>
  
  <style>
    #projects-section {
      display: grid;
      grid-template-columns: 30% 70%; /* 왼쪽은 30%, 오른쪽은 70%로 설정 */
      grid-gap: 20px;
      margin: 20px 0;
    }
    
    .project-description {
      grid-column: 1;
      text-align: center; /* 제목과 프로젝트 설명 부분 왼쪽 정렬 */
    }
    
    .project-details {
      grid-column: 2;
      text-align: left; /* 세부사항은 오른쪽 열에 배치 */
    }
    h2 {
      font-weight: bold;
    }
  </style>