<!-- _includes/projects-section.html -->
<div id="experiences-section">
    <div class="experiences-description">
      <h2>반려동물 진료비 예측 서비스 개발[link]</h2>
      <h3>머신러닝 엔지니어 @펫핀스<span class="duration">2024.02 ~ 2024.08</span></h2>
      
    </div>
    <div class="experiences-details">
      <p>펫핀스는 강아지 보험 웹사이트입니다. 등록된 반려견 건강 정보를 기반으로 평균 진료비를 예측하는 프로젝트를 진행했습니다.</p>
      <ul>
        <li>기존 보험청구 처리 시스템과 연동하여 치료비 예측 시스템을 기획단계부터 AI 백엔드 서버 개발까지 담당</li>
        <li>머신러닝 모델 학습 파이프라인을 구성하여 다양한 모델 후보군을 실험하고 최종 모델 정확도 90%를 달성</li>
        <li>Mlflow로 모델 재학습 결과를 모니터링하고, nginx, docker, github action을 활용한 롤링 업데이트를 통해 무중단 배포 구현</li>
      </ul>
    </div>
    <div class="experiences-description">
      <h2>문서 인식 OCR 제품 개발</h2>
      <h3>머신러닝 엔지니어 @애자일소다<span class="duration">2020.07 ~ 2023.01</span></h3>
      
    </div>
    <div class="experiences-details">
      <p> 일 6만건 정도의 문서 정보 입력을 자동화하는 B2B OCR 제품 개발에 참여. 텍스트 탐지 모델 개발을 메인으로 담당하고, 데이터 수집, 라벨링, 폐쇄망 환경에서의 서비스 배포 등을 처리했습니다.</p>
      <ul>
        <li>OCR 단계별 병렬 처리 및 Triton Inference Server 도입을 통해 서빙 효율 개선</li>
        <li>텍스트 인식모델에 semi-supervised learning 기법을 적용하여 손글씨 인식률 4% 개선</li>
        <li>모델 추론 시 발생하는 오버헤드를 파악한 후 개선하여 후처리 속도를 35% 개선</li>
        <li>손글씨 라벨링 수집용 템플릿으로 데이터 수집을 자동화하여 손글씨 라벨링 비용 절감</li>
      </ul>
    </div>
    <div class="experiences-description">
      <h2>이미지 기반 사고 수리비 예측 프로젝트 참여</h2>
      <h3>머신러닝 엔지니어 인턴 @애자일소다<span class="duration">2019.08 ~ 2020.02</span></h2>
    </div>
    <div class="experiences-details">
      <p>이미지 인식 프로세스의 초기 이미지 필터링 단계를 담당했습니다. 이 프로젝트는 NVIDIA GPU Technology Conference GTC 2020 비즈니스 영역 딥러닝 활용 성공사례로 소개된 바 있습니다.</p>
      <ul>
        <li>업로드된 이미지 인풋이 수리비 예측이 가능한 대상인지 판별하는 이미지 필터(이미지 분류 모델) 모델 개발</li>
        <li>CNN모델 아키텍쳐별 정확도 및 추론 속도를 고려하여 최종 모델 선정. 91% 분류 정확도 달성</li>
        <li>이미지 분류 라벨링 툴을 개발하여 라벨링 소요시간 단축</li>
      </ul>
    </div>
  </div>
  
  <style>
    #experiences-section {
      display: grid;
      grid-template-columns: 30% 70%; /* 왼쪽은 30%, 오른쪽은 70%로 설정 */
      grid-gap: 20px;
      margin: 20px 0;
    }
    
    .experiences-description {
      grid-column: 1;
      text-align: center; /* 제목과 프로젝트 설명 부분 왼쪽 정렬 */
    }
    
    .experiences-details {
      grid-column: 2;
      text-align: left; /* 세부사항은 오른쪽 열에 배치 */
    }

    h2 {
      font-weight: bold;
    }

    .explanation {
      color: #666;
    }

    .duration {
      font-size: small;
      color: #666;
    }
  </style>